
  <!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("div").empty();
  });
});
</script>
</head>
  <body>
  <div class="container">
    <div class="row">
    <div class="col-sm-6"><p>Name: {{name}}</p></div>
    <div class="col-sm-6"><p>Phone: {{phone}}</p></div>
    <div class="col-sm-6"><p>Address: {{address}}</p></div>
    <div class="col-sm-6"><P>Address 2: {{address2}}</P></div>
    <div class="col-sm-6"><p>City: {{city}}</p></div>
    <div class="col-sm-6"><p>State: {{state</p></div>
    <div class="col-sm-6"><p>Zip: {{zip}}</p></div>
    <div class="col-sm-6"><p>Country: {{country}}</p></div>
    </div>      
  </div>
  </body>



