<tr>
   <td data-id={{dataValues.OrderID}}><a href="">{{dataValues.OrderID}}</a></td>

   <td>{{dataValues.Image}}</td>
   <td>{{dataValues.Product_Name}}</td>
   <td>{{dataValues.UnitPrice}}</td>
   <td>{{dataValues.UnitsInStock}}</td>
   <td>{{dataValues.UnitsOnOrder}}</td>


</tr>